tmp/
minikube-manifests/
vendor/
./auth
.swp
crdschemas/
.mdoxcache

developer-workspace/gitpod/_output
developer-workspace/codespaces/kind 
goauto-k8s/environments/production/grafana-config.yaml
goauto-k8s/environments/sandbox/grafana-config.yaml